<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultorio Salvatore, Rivero</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/lux/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    <div class="container mt-4">
        <h1>Generar Turnos</h1>
        <form action="/generar_turnos" method="post">

            <!-- Nombre del paciente -->
            <div class="form-group">
                <label for="nombre_apellido">Nombre y Apellido</label>
                <input type="text" name="nombre_apellido" id="nombre_apellido" class="form-control" required placeholder="Ingrese el nombre y apellido del paciente">
            </div>

            <!-- Fecha del turno -->
            <div class="form-group">
                <label for="fecha">Fecha</label>
                <input type="date" name="fecha" id="fecha" class="form-control" required>
            </div>

            <!-- Hora de inicio -->
            <div class="form-group">
                <label for="hora_inicio">Hora de Inicio</label>
                <input type="time" name="hora_inicio" id="hora_inicio" class="form-control" required>
            </div>

            <!-- Hora de fin -->
            <div class="form-group">
                <label for="hora_fin">Hora de Fin</label>
                <input type="time" name="hora_fin" id="hora_fin" class="form-control" required>
            </div>

            <!-- Tipo de turnos -->
            <div class="form-group">
                <label for="tipo_turno">Tipo de turno</label>
                <select name="tipo_turno" id="tipo_turno" class="form-control">
                    <option value="primera_vez">Primera vez</option>
                    <option value="recurrente">Recurrente</option>
                </select>
            </div>

            <!-- Botón para generar el turno -->
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Generar Turnos</button>
            </div>
        </form>
    </div>

    <!-- Botón para volver al menú principal -->
    <div class="text-center mt-4">
        <a href="/" class="btn btn-primary">Volver al Menú</a>
    </div>
    
    <div class="class="container mt-4">
        <h1>Buscar Turnos</h1>
            <form action="/consultar_turnos" method="POST">
                <label for="busqueda">Buscar por nombre o apellido:</label>
                <input type="text" id="busqueda" name="busqueda" placeholder="Nombre o apellido" required>
                <button type="submit">Buscar</button>
            </form>

            <h2>Resultados de la Búsqueda</h2>
            {% if turnos %}
                <table border="1">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Paciente</th>
                            <th>Fecha</th>
                            <th>Hora</th>
                            <th>Estado</th>
                            <th>Tipo</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for turno in turnos %}
                        <tr>
                            <td>{{ turno.turno_id }}</td>
                            <td>{{ turno.paciente_id }}</td>
                            <td>{{ turno.fecha }}</td>
                            <td>{{ turno.hora }}</td>
                            <td>{{ turno.estado }}</td>
                            <td>{{ turno.tipo_turno }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No se encontraron turnos.</p>
            {% endif %}
    </div>
        
</body>
</html>